{{! LSAC - Last stop and continue "зупинився на матеріалі осаннього разу і продовжив  }}

<main class='p-5'>

  <div class='card p-5'>
    <p id='test'>
      Hello world! Hello world! Hello world! Hello world!
    </p>
    <p id='test'>
      Hello world!
    </p>
    <p hidden id='test'>
      Hello world!
    </p>
    <span class='test'>Test</span>
  </div>

  {{! Тут має бути символ таба по уроку, але це по бажанню тож я не став його додавати }}
  <pre>123</pre>

  <div>Block</div>
  <div>Block</div>
  <div>Block</div>
  <div>Block</div>
  <div>Block</div>

  <div
    style='padding: 50px 0px 50px 100px; background: gray; height: 200px;'
  >
    <span>Category Cat</span>
    <span>Category dog</span>
    <span>Category fish</span>
    <span class='block'>Category top list</span>
  </div>

  <div>Block</div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

</main>