/* :root {
  background: purple;
}

html {
  max-width: 720px;

  height: 200px;

  background: blue;
}

* {
  color: red;
}

h1 {
  color: green;
}

h1 {
  color: blue;
} */

/* Cелектор класу! Він обов'язково має крапку у початку */
/* .box {
  background: #7a7878;
}

h1.button {
  background: red;
  color: black;
} */

/* Використання декількох селекторів, треба у кінці ставити кому */
/* h1,
h2#user,
button.button#button {
  color: green;
} */

/* Cелектор ідентифікатора! Має у початку решітку */
/* #user,
.user {
  color: blue;
}

.box > p {
  color: paleturquoise;
}

footer > .user {
  color: chocolate;
}

footer > h1 {
  color: brown;
} */
/* ================================================== */
/* Другий урок Селектори 2 частина */
/* ================================================== */

.card-dark {
  background: #e7e0e0;
}

.item {
  color: rgb(14, 201, 14);
}

.item:last-of-type {
  color: blue;
}

.item:only-of-type {
  color: red;
}

.item:nth-child(3n + 1) {
  color: rgb(18, 216, 190);
}

/* ================================================== */
/* Другий урок Селектори 3 частина */
/* ================================================== */

.input-dark {
  background: #a8a4a4;
}

.input-dark[required] {
  background: #da2525;
}

.input-dark[type='number'] {
  background: #06ac00;
}

.small-img[alt~='small'] {
  height: 500px;
}

a[rel~='external'] {
  color: green;
}

button[class|='btn'] {
  background: rgb(201, 194, 194);
}

a[class*='btn'] {
  background: rgb(214, 29, 29);
}

a[class$='big'] {
  background: rgb(10, 13, 187);
}

.btn::first-letter {
  color: red;
}

.big-text::first-line {
  color: red;
}

.input-dark::placeholder {
  color: rgb(248, 32, 255);
}

.big-text::before,
.big-text::after {
  content: '$$$';
  color: green;
}
