/* Урок №8 Відображення тексту */
/* HEX - Шістнадцяткова форма опису відтінку */
/* .card > p {
  color: #002547;
} */

/* Текстова назва кольору, яка зашита в CSS */
/* .card > p {
  color: rgb(255, 17, 0);
} */

/* Формат RGBA, який додає А параметр - прозорість кольору */
/* .card > p {
  color: rgba(51, 255, 0, 0.692);
} */

/* p {
  background: rgb(0, 17, 255);
} */

/* Формат HSL, є альтернативою RGB H-відтінок, S-насиченість, L-яскравість */
/* .card > p {
  color: hsla(126, 100%, 63%, 1);
} */

/* Вендорні префікси */
.card {
  color: red;
}
.card > p {
  color: green;
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 1px blue;
}

P:focus,
p:active,
p:hover {
  -webkit-text-fill-color: rgb(255, 251, 0);
  -webkit-text-stroke: 1px rgb(255, 0, 242);

  /* Напрямок тексту */
  direction: rtl;
}

/* Глобальні значення властивостей */
/* Initial - Значення властивості встановлюється за замовчуванням */
/* Inherit - Значення властивості успадковується від батьківського тегу */
/* Unset - Значення властивості успадковується від батьківського тегу в тому випадку, 
якщо це можливо в іншому випадку значення встановлюється за замовчуванням */
/* none - Скасовує будь-які значення властивості та встановити значення за замовчуванням */
#test {
  color: unset;
  -webkit-text-fill-color: unset;
  -webkit-text-stroke: unset;

  /* Орієнтація тексту */
  /* horizontal-tb Горізонтальний рядок, вертекальна колонка Значення за замовчуванням */
  /* Vertical-rl Вертикальний рядок, горизонтальна колонка з напрямком справа наліво, а також зліво напрво lr */
  /* writing-mode: vertical-lr; */

  /* Вирівнювання тексту */
  /* Більш просунуті значення для властивості text-align
  start - Вирівнюється по початковій стороні відповідно до напрямку та орієнтації тексту
  end - Вирівнюється по кінцувій стороні відповідно до напрямку та орієнтації тексту
  justify - Розтягує текст на всю ширину контейнера, додаючи додатковий пробіл між словами, якщо це необхідно */
  text-align: center;

  /* Ширина табуляції тексту */
  tab-size: 10px;
}

/* Регістр тексту */
/* uppercase - Перетворює текст у верхній регістр */
/* lowercase - Перетворює текст у нижній регістр */
/* capitalize - Перетворює першу літеру кожного слова у верхній регістр */
span {
  text-align: left;
  text-transform: uppercase;

  /* Декорація тексту */

  /* text-decoration-line */
  /* underline - Це значення додає рядок під текстом */
  /* overline - Це значення додає рядок над текстом */
  /* line-through - Це значення додає лінію через середину тексту */

  /* text-decoration-stale */
  /* solid - Надає звичайну повну лінію */
  /* double - Надає подвійну лінію */
  /* dotted - Надає пунктирну лінію */
  /* dashed - Надає штриховану лінію */
  /* wavy Надає хвилясту лінію */

  text-decoration: underline dotted red;
}

span:hover {
  text-decoration-color: blue;
  text-decoration-line: line-through;
  text-decoration-style: solid;
}

/* Ширина табуляції тексту */
/* Інтервал символів тексту */
pre {
  tab-size: 10px;
  letter-spacing: 10px;
}

/* Замітка, Далі коменти не пишу бо простіше відкрити конспект та по коду побачити інформацію в конспекті */

* {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 900;

  font-display: swap;
}

span {
  font-size: lager;

  font-weight: lighter;

  font-style: oblique;
}

.test {
  display: none;
}

/* .block {
  display: inline-block;
  background: gray;
  margin-left: 50px;
} */

.block {
  display: inline-block;
  background: rgb(194, 193, 193);
  margin: auto;

  width: 100%;
  max-width: 600px;
}
