:root {
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;

  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;

  --color-border: #dee2e6;
  --color-primary: rgb(46, 46, 255);
  --color-white: #fff;
  --color-title: #212529;
  --color-text: #343a40;

  --border-radius: 12px;

  --weight-title: 500;
  --weight-text: 400;
}

/* ============================== */

.page {
  background: var(--color-white);
  padding: 0 15px;

  display: flex;
  justify-content: center;
}

.page_content {
  max-width: 960px;
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 80px;
}

/* ============================== */

.header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;
}

/* 25:09 */
.logo {
  font-size: 17px;
  color: var(--color-white);
  background: var(--color-primary);

  width: 24px;
  height: 24px;

  border-radius: calc(var(--border-radius) / 2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}

.nav_inline {
  gap: var(--space-l);
}

.nav_vertical {
  gap: var(--space-xm);
  flex-direction: column;
}

.nav_link {
  color: var(--color-text);
  font-size: var(--size-d);
  text-decoration: none;

  line-height: 100%;
}

.header_nav_right {
  margin-left: auto;
  width: fit-content;
}

.nav_link:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.footer {
  padding: var(--space-l) 0;

  border-top: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  font-size: var(--size-s);
  color: var(--color-text);

  display: block;

  margin-top: var(--space-l);
}

.footer_title {
  font-size: var(--size-l);
  color: var(--color-title);

  display: block;
  margin-bottom: var(--space-l);

  font-weight: var(--weight-title);
}

.main {
  display: flex;
  align-items: center;
  gap: var(--space-b);

  padding: var(--space-b);
}

.main_image {
  width: 500;
  height: 500;

  border-radius: var(--border-radius);
}

.main_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  margin-left: 80px;
}

.main_title {
  font-weight: var(--weight-title);
  font-size: 36px;

  gap: var(--space-l);
  color: var(--color-title);
  line-height: 120%;
}

.main_text {
  color: var(--color-text);
  font-weight: var(--weight-text);
  font-size: var(--size-d);
  line-height: 170%;
}

.main_button {
  display: inline-block;
  width: 120px;

  font-size: var(--size-d);
  text-decoration: none;
  padding: var(--space-m) var(--space-xm);
  border-radius: var(--border-radius);

  color: var(--color-white);
  background: #6c757d;
}

.button:hover {
  opacity: 0.7;
}

.featured {
  display: flex;
  gap: var(--space-b);

  padding: var(--space-b);
  border-bottom: 1px solid var(--color-border);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;

  flex-grow: 1; /* Розтягнення елементу */
  flex-shrink: 1; /* Стискання елементу */
  flex-basis: 0; /* Базовий розмір елементу */
}

.card > * {
  margin-bottom: var(--space-l);
}

.featured_image {
  border-radius: var(--border-radius);
  padding: var(--size-d);
  max-width: 64px;
  height: 64px;
}

.featured_heading {
  font-weight: var(--color-title);
  font-size: 31px;
  line-height: 100%;
  color: var(--color-title);
}

.featured_info {
  font-weight: var(--weight-text);
  font-size: var(--size-d);
  line-height: 170%;
  color: var(--color-text);
}

.featured_link {
  font-weight: var(--weight-text);
  font-size: var(--size-d);
  line-height: 100%;
  text-decoration: underline;
  text-decoration-skip-ink: none;

  color: var(--color-primary);
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--color-primary);
  padding: var(--space-l);
  border-radius: var(--border-radius);
}

.actions_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);

  margin-right: 24px;
}

.actions_heading {
  font-weight: var(--weight-text);
  font-size: var(--space-l);
  line-height: 65%;
  color: var(--color-white);
}

.actions_button {
  border-radius: 5px;
  padding: 16px;
  width: 240px;
  height: 52px;

  background: var(--color-white);
}

.actions_text {
  text-decoration: none;
  font-weight: var(--weight-text);
  font-size: var(--size-l);
  line-height: 100%;
  text-align: center;
  color: var(--color-text);
}

.actions_button:hover {
  opacity: 0.7;
}
